.bg-principal{
    background-color: black !important;
}



@media (max-width: 400px) {
.title-menu{
    font-size: 2rem !important;
}
}

.title-menu{
    color: rgb(202, 18, 18) !important;
    font-size: 2.8rem !important;
    font-family: 'Sniglet', cursive;
    transition: 400ms;
}.title-menu:hover{
    color: rgba(202, 18, 18, 0.76) !important;
    font-size: 2.76rem !important;
    
    cursor: pointer;
    transition: 280ms;
}

.btn-outline-success {
    border-color: aliceblue;
    color: blue !important;
}
.btn {
    margin-right: 2.2rem;
    padding: 2.2rem;
    font-size: 1.5rem !important;
    color: white;
    padding: 0px !important;
    background-color:rgb(202, 18, 18) !important;
}
@media (max-width: 1100px){
.btn {
    margin-right: 0rem;
    padding: 0rem;
    font-size: 1rem !important;
}
}

@media (max-width: 1200px) {
    .menu-link{
        font-size: 1rem !important;
    }
}
.menu-link {
    font-family: 'Happy Monkey', cursive;
    
    color: white !important;
    font-size: 1.5rem;
    margin: 1rem;
    text-decoration: none !important;
    outline: none;
}.menu-link:hover{
    color: rgb(202, 18, 18) !important;
    transition: 0.5s;
}
.frame:hover{
    border-radius: 0 !important;
    transition: 500ms;
    opacity: 95%;
}
.frame{
    opacity: 80%;
    border-radius: 20% !important;
    transition: 500ms;
}
.img-main {
    margin: 0;
    padding: 0 !important;
    border-radius: 10% !important;
    transition: 500ms

}
.iframe {
    
    background-color: black !important;
}
.navbar-icon{
    background-image: url(/assets/icons/menu.png);
}
.collapsed{
    color: white !important;
    border-color: white !important
    
}
.teste {
    width: 0;
    height: 0;
    left: 50px solid transparent;
    right: 50px solid transparent;
    border-bottom: 100px solid red;
}
.img-main:hover {
    margin: 0;
    padding: 0 !important;
    border-radius: 50% !important;
    opacity: 80%;
    transition: 500ms;
   
 
}
.background {
    width: 100%;
    height: auto;


           object-fit: none; /* Do not scale the image */

           width: 100%;
           max-height: 100%px;
           margin-bottom: 2rem;
         
}


.div-formulario {
    display: flex;
    justify-content: center;
    
}

.form {
    padding: 20px;
}

.label-name {
   font-family: cursive;
    font-size: 1.500rem;
    width: 200px !;
}
.input-name{
    height: 50px !important;
    
}
.title-pais{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
}
.text-area {
    width: 600px;
    margin: 0;
}
@media (max-width: 600px) {
    
    .form {
        padding: 20px;
        width: auto;
    }
    
    .label-name {
       font-family: cursive;
        font-size: 1.200rem;
        width: 250px;
    }
    .input-name{
        height: 50px !important;
        font-size: 1rem;        
    }
    .title-pais{
        display: flex;
        font-size: 1.2rem;
        font-weight: 500;
    }
}